version: 2
updates:
- package-ecosystem: nuget
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  groups:
    all:
      patterns:
        - ".*"
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: daily
  groups:
    all:
      patterns:
        - ".*"
- package-ecosystem: "devcontainers"
  directory: "/"
  schedule:
    interval: weekly
