name: Build and Pack

on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
      artifact-metadata: write
      contents: read
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
    - name: Setup dotnet
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.x # `global-json-file: global.json` wouldn't use the latestMinor with setup-dotnet@v4
    - uses: dotnet/nbgv@v0.4
      id: nbgv
    - name: Build
      run: dotnet build -c Release /p:ContinuousIntegrationBuild=true

    # Remove the html head with the logo from README for nupkg
    - name: Clean README
      run: |
        # Assert the pattern exists (Fail hard if not found)
        grep -q "^# ArpLookup" README.md || { echo "Error: Header not found in README"; exit 1; }
        # -n: don't print lines by default
        # /pattern/,$p: print from the matching line to the end ($)
        sed -n '/# ArpLookup/,$p' README.md > README.tmp
        mv README.tmp README.md

    - name: Test
      # --no-build leads to empty coverage
      run: dotnet test -c Release --coverage --coverage-output cobertura.xml --coverage-output-format cobertura --results-directory .

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Pack
      run: dotnet pack -c Release --no-build

    - name: Upload Artifacts
      id: upload
      uses: actions/upload-artifact@v6
      with:
        name: nupkg
        path: |
          bin/Packages/**/*.nupkg
          bin/Packages/**/*.snupkg

    - uses: actions/attest-build-provenance@v3
      with:
        subject-name: nupkg
        subject-digest: sha256:${{ steps.upload.outputs.artifact-digest }}
