name: Build and Pack

on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
    - uses: dotnet/nbgv@v0.4
      id: nbgv
    - name: Build
      run: dotnet build -c Release /p:ContinuousIntegrationBuild=true
    - name: Pack
      run: dotnet pack -c Release --no-build
    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: nupkg
        path: |
          bin/Packages/**/*.nupkg
          bin/Packages/**/*.snupkg
